html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    height: 100%;
    background-color: #ECF2F7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__main {
    min-width: 90rem;
}

.main__title {
    font-size: 2.2rem;
    color: #E17171;
    text-align: center;
    margin-bottom: 3rem;
}

.main__prices {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.prices__price {
    flex-basis: 33%;
    background-color: white;
    padding: 4rem;
    text-align: center;
    margin-right: 1.5rem;
    border-radius: 1.5rem 0 0 1.5rem;
}

.prices__price:last-child {
    border-radius: 0 1.5rem 1.5rem 0;
}

.prices__price--zoom {
    transform: scale(1.1);
    background-color: #E17171;
    border-radius: 1.5rem;
}

.prices__price--zoom .price__subtitle,
.prices__price--zoom .price__number,
.prices__price--zoom .price__detail {
    color: white;
}

.prices__price--zoom,
.price__detail {
    border-color: #DA9393;
}

.prices__price--zoom .price__btn {
    color: #E17171;
    background-color: white;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.prices__price--zoom .price__btn:hover {
    color: white;
    background-color: transparent;
    border: 1px solid #DA9393;
}

.price__subtitle {
    font-size: 1.4rem;
    font-weight: 600;
    color: #777AA2;
}

.price__number {
    font-size: 4.5rem;
    color: #4F5166;
    margin-bottom: 2rem;
}

.price__detail {
    font-size: 1.3rem;
    font-weight: 600;
    color: #777AA2;
    padding: 1rem 0;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.price__detail:nth-child(4) {
    border: none;
}

.price__btn {
    width: 100%;
    margin-top: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #E17171;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem;
    border-radius: 0.5rem;
    transition: all 300ms ease-in-out;
}

.price__btn:hover {
    border: 1px solid #DA9393;
    background-color: transparent;
    color: #E17171;
}